@import "tailwindcss";

* {
  border-radius: 0px !important;
}

/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 10px;
  /* width of vertical scrollbar */
  height: 12px;
  /* height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #00759536;
  /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: #005f78;
  /* thumb color */
  border-radius: 0px;
  /* round corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #007595;
}

/* checkbox */

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #007595 !important;
  border-color: #007595 !important;
}

.ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: #007595 !important;
}


.ant-modal-footer {
  padding: 2% !important;
}

.ant-btn-color-primary.ant-btn-variant-solid {
  background-color: var(--color-cyan-700) !important;
  color: white !important;
}

.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid.ant-btn-sm {
  color: var(--color-cyan-700) !important;
}

.ant-btn-primary.ant-btn-color-primary.ant-btn-variant-solid.ant-btn-sm:hover {
  color: white !important;
}

.ant-btn-color-primary:hover {
  background-color: var(--color-cyan-900) !important;
}

.ant-btn-color-default:hover {
  border-color: var(--color-cyan-700) !important;
  color: var(--color-cyan-700) !important;
}


/* pagination css */
.ant-pagination-item-active {
  border-color: #0891b2 !important;
  /* Cyan 700 */
}

.ant-pagination-item-active a {
  color: #0891b2 !important;
}

.ant-pagination-item:hover {
  border-color: #0891b2 !important;
}

.ant-pagination-item:hover a {
  color: #0891b2 !important;
}

/* modal */

.ant-modal-content {
  padding: 0px !important;
}

.ant-modal-header {
  padding: 20px 20px 15px 20px !important;
  border-bottom: 1px solid #0891b2 !important;
}

.ant-modal-body {
  padding: 20px !important;
}

.ant-modal-close {
  top: 0 !important;
  right: 0 !important;
  transform: translate(50%, -50%);
  background-color: #007595 !important;
  color: white !important;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.ant-modal-close:hover {
  color: white !important;
}

.ant-modal-close-icon:hover {
  transform: scale(1.3);
}



/* .ant-modal-wrap {
  display: flex !important;

}

.ant-modal{
    top:1px !important;
} */

/* table */

.ant-table-thead .ant-table-cell {
  background-color: oklch(52% 0.105 223.128) !important;
  color: white !important;
}

:where(.css-dev-only-do-not-override-1261szd).ant-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: oklch(52% 0.105 223.128) !important;
  color: white !important;
  border-color: oklch(52% 0.105 223.128) !important;
}

.ant-table-cell {
  padding: 11.5px 16px !important;
}


.service-now-table .ant-table-body::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

.service-now-table .ant-table-body::-webkit-scrollbar-track {
  background: #00759536;
}

.service-now-table .ant-table-body::-webkit-scrollbar-thumb {
  background-color: #005f78;
  border-radius: 0px;
}

.service-now-table .ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #007595;
}

/* select */
.ant-select-selector {
  border: none !important;
  height: 39.6px;
}

.ant-select-single {
  height: 39.6px !important;
}

.ant-select {
  border: 1px #d1d5dc solid;
}

/* popconfirm */

.ant-popconfirm-buttons .ant-btn-default {
  border-color: #e7000b;
  color: #e7000b;
  font-weight: 500;
}

.ant-popconfirm-buttons .ant-btn-default:hover {
  background-color: #e7000b !important;
  border-color: #e7000b !important;
  color: white !important;
}


.ant-popconfirm-buttons .ant-btn-color-primary {
  border-color: #007393;
  color: #007393;
  font-weight: 500;
  background-color: white !important;
}

.ant-popconfirm-buttons .ant-btn-primary:hover {
  background-color: #007393 !important;
  border-color: #007393 !important;
  color: white !important;
}

/* tabs */
/* Style all tabs for spacing and rounded corners */
.tabs .ant-tabs-tab {
  padding: 6px 16px;
  color: #007595;
  border-radius: 6px;
  transition: all 0.3s;
}

/* Style active tab: blue background and white text */
.tabs .ant-tabs-tab-active {
  border: 1px solid #0060786e !important;
  color: white !important;
}

.tabs .ant-tabs-nav .ant-tabs-tab {

  border-top: 5px solid #00607891 !important;
}

.tabs .ant-tabs-nav {
  margin: 0px !important;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #005f78 !important;
}

/* Optional: remove the blue underline (ink bar) */
.tabs .ant-tabs-ink-bar {
  background: transparent !important;
}

.tabs .ant-tabs-content-holder {
  border: 1px solid #0060786e !important;
}


/* Style for disabled checkboxes */
.ant-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}