@import "tailwindcss";

*{
    border-radius: 0px !important;
}

/* pagination css */
.ant-pagination-item-active {
    border-color: #0891b2 !important; /* Cyan 700 */
}

.ant-pagination-item-active a {
    color: #0891b2 !important;
}

.ant-pagination-item:hover {
    border-color: #0891b2 !important;
}

.ant-pagination-item:hover a {
    color: #0891b2 !important;
}

/* modal */
.ant-modal-content{


}